<!--  -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- é¡µé¢headä¿¡æ¯ -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="baidu-site-verification" content="" />

    <title>
        华雪旅游
    </title>

    <style>
        .menu a {
            background-color: transparent;
            cursor: pointer;
            text-align: left;
            text-decoration: none;
            text-transform: none;
            width: 98px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-right: 35px;
            padding-left: 35px;
            word-wrap: break-word;
            font-size: 14px;
            color: white;
            box-sizing: border-box;
            border-color: #fff;
            border-radius: 0px;
        }

            .menu a.current {
                background-color: #6dc234;
            }

            .menu a:hover {
                background-color: #6dc234;
            }
    </style>
</head>

<body class="" style="border:0px;margin:0px;padding:0px;color:black;font-size:14px;font-family:'微软雅黑', Verdana, Arial, Helvetica, sans-serif;background-color:white;">
    <div style="width:1204px;margin-left:auto;margin-right:auto;background-color:white;margin-top:10px;height:64px;">
        <div class="logo" style="display:inline-block;float:left;">
            <h2 style="margin-top:7px;">华学旅游</h2>
        </div>
        <div style="line-height:20px;height:64px;margin:0px;padding:0px;border:0px;display:inline-block;float:right;margin-right:50px;">
            <div style="margin-top:12px;font-size:14px;">
                <ul style="list-style:none;height:44px;width:100%;">
                    <li style="display:inline-block;margin:0px;padding:0px;">
                        <a style="text-decoration:none;color:black;" href="#">首页</a>
                    </li>
                    <li style="display:inline-block;margin:0px;padding:0px;margin-left:20px;">
                        <a style="text-decoration:none;color:black;" href="#">旅游项目</a>
                    </li>
                    <li style="display:inline-block;margin:0px;padding:0px;margin-left:20px;">
                        <a style="text-decoration:none;color:black;" href="#">场地信息</a>
                    </li>
                    <li style="display:inline-block;margin:0px;padding:0px;margin-left:20px;">
                        <a style="text-decoration:none;color:black;" href="#">关于我们</a>
                    </li>
                    <li style="display:inline-block;margin:0px;padding:0px;margin-left:20px;">
                        <a style="text-decoration:none;color:black;" href="#">联系我们</a>
                    </li>
                </ul>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="banner" style="position:relative; background-size: cover; background-position: center center; background-repeat: no-repeat; background-image: url('http://img.wqdian.com/group4/M00/84/AA/yq0KYFcy8PmAIYopAA29Ed8w8wk486.jpg');height:450px;">
        <div style="height:450px;width:1200px;margin-left:auto;margin-right:auto;">
            <div style="width:575px;top:50px;position:relative;left:350px;right:auto;">
                <div style="border-top:1px solid white;"></div>
                <div style="height:40px;font-size:18px;color:white;text-align:center;">
                    <p>@ViewBag.TopBanner.Title</p>
                </div>
                <div style="border-top:1px solid white;"></div>
                <div style="height:40px;font-size:16px;color:white;text-align:center;">
                    <h1 style="font-weight:500;">@ViewBag.TopBanner.Description</h1>
                </div>
            </div>
        </div>
    </div>
    <section style="height:746px;margin-top:40px;">
        <div class="background" style="position:relative;height:746px;">
            <div style="margin-top:20px;text-align:center;">
                <h1 style="font-weight:normal;">优惠项目</h1>
                <p style="color:#808080;">产品全面，价格透明，并提供丰富的后续服务和保</p>
            </div>
            <div class="card card_no_index_03" style="position:relative;z-index:1;visibility:visible;width:960px;margin-left:auto;margin-right:auto;margin-top:60px;">
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;">
                    <div style="width: 277px;height:180px;">
                        <div style="margin:0px;">
                            <img style="height:180px;width:412px;" src="http://img.wqdian.com/group4/M00/8B/0A/yq0KYFdsyOGAe8ILAAB4x9rrHgU951.jpg">
                        </div>
                    </div>
                    <div style="width: 412px; height: 120px; left: 0px; z-index: 3;background:white;">
                        <div>
                            <div style="width:100%;height:100%;">
                                <h4 style="margin:0px;">
                                    <strong style="margin-left:10px;margin-top:10px;display:inline-block;">
                                        <span style="font-size:16px;">
                                            <span style="color:#363c48;">南昌</span>
                                        </span>
                                    </strong>
                                </h4>
                                <p style="margin:10px;margin-left:1px;border-top:1px solid #d1d1d1;"></p>
                                <p style="margin-left: 13px;margin-top:5px;">
                                    <span style="color:#95979c;">
                                        美丽南昌，幸福城市
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;">
                    <div style="width: 277px;height:180px;">
                        <div style="margin:0px;">
                            <img style="height:180px;width:412px;" src="http://img.wqdian.com/group4/M00/8B/0A/yq0KYFdsyOGAe8ILAAB4x9rrHgU951.jpg">
                        </div>
                    </div>
                    <div style="width: 412px; height:120px; left: 0px; z-index: 3;background:white;">
                        <div>
                            <div style="width:100%;height:100%;">
                                <h4 style="margin:0px;">
                                    <strong style="margin-left:10px;margin-top:10px;display:inline-block;">
                                        <span style="font-size:16px;">
                                            <span style="color:#363c48;">南昌</span>
                                        </span>
                                    </strong>
                                </h4>
                                <p style="margin:10px;margin-left:1px;border-top:1px solid #d1d1d1;"></p>
                                <p style="margin-left: 13px;margin-top:5px;">
                                    <span style="color:#95979c;">
                                        美丽南昌，幸福城市
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;">
                    <div style="width: 277px;height:180px;">
                        <div style="margin:0px;">
                            <img style="height:180px;width:412px;" src="http://img.wqdian.com/group4/M00/8B/0A/yq0KYFdsyOGAe8ILAAB4x9rrHgU951.jpg">
                        </div>
                    </div>
                    <div style="width: 412px; height: 120px; left: 0px; z-index: 3;background:white;">
                        <div>
                            <div style="width:100%;height:100%;">
                                <h4 style="margin:0px;">
                                    <strong style="margin-left:10px;margin-top:10px;display:inline-block;">
                                        <span style="font-size:16px;">
                                            <span style="color:#363c48;">南昌</span>
                                        </span>
                                    </strong>
                                </h4>
                                <p style="margin:10px;margin-left:1px;border-top:1px solid #d1d1d1;"></p>
                                <p style="margin-left: 13px;margin-top:5px;">
                                    <span style="color:#95979c;">
                                        美丽南昌，幸福城市
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item" style="margin-right:20px;display:inline-block;">
                    <div style="width: 277px;height:180px;">
                        <div style="margin:0px;">
                            <img style="height:180px;width:412px;" src="http://img.wqdian.com/group4/M00/8B/0A/yq0KYFdsyOGAe8ILAAB4x9rrHgU951.jpg">
                        </div>
                    </div>
                    <div style="width: 412px; height: 120px; left: 0px; z-index: 3;background:white;">
                        <div>
                            <div style="width:100%;height:100%;">
                                <h4 style="margin:0px;">
                                    <strong style="margin-left:10px;margin-top:10px;display:inline-block;">
                                        <span style="font-size:16px;">
                                            <span style="color:#363c48;">南昌</span>
                                        </span>
                                    </strong>
                                </h4>
                                <p style="margin:10px;margin-left:1px;border-top:1px solid #d1d1d1;"></p>
                                <p style="margin-left: 13px;margin-top:5px;">
                                    <span style="color:#95979c;">
                                        美丽南昌，幸福城市
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="height:606px;margin-top:10px;background-color:#fafafa;position:relative;">
        <div class="background" style="margin-top:10px;position:relative;">
            <div style="padding-top:40px;text-align:center;">
                <h1 style="font-weight:normal;font-size:30px;">导游风采</h1>
                <p style="color:#808080;">严格按照国家相关法律法规，为广大消费者提供高品质，有保障，丰富多彩的旅游产品</p>
            </div>
            <div class="card card_no_index_03" style="position:relative;z-index:1;visibility:visible;width:1240px;margin-left:auto;margin-right:auto;margin-top:60px;">
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;background:#3DC288;color:white;">
                    <div style="width: 380px; height: 230px; left: 0px;">
                        <div>
                            <div>
                                <div style="width:100%;height:100%;">
                                    <p style="display:inline-block;width:40px;height:40px;text-align:center;line-height:40px;float:left;background:#18B292;margin-left:10px;">
                                        1
                                    </p>
                                    <div style="display:inline-block;margin-left: 6px;margin-top:5px;height:160px;float:right;width:300px;margin-right:10px;margin-top:10px;">
                                        <h3 style="margin:5px;margin-left:0px;">军事化训练</h3>
                                        <span style="color:white;">
                                            导游主要分为中文导游和外语导游。其主要工作内容为引导游客感受山水之美解决旅途中可能出现的突发事件，并给予游客食、宿、行等方面的帮助。
                                        </span>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                                <p style="margin:10px;margin-left:0px;margin-right:0px;border-top:1px solid white;"></p>
                                <h4 style="margin:0px;line-height:24px;margin-left:60px;">
                                    <strong style="margin-left:10px;margin-top:5px;display:inline-block;">
                                        <span style="font-size:16px;">
                                            <span style="color:white;">南昌</span>
                                        </span>
                                    </strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;background:#14B9D5!important;color:white;">
                    <div style="width: 380px; height: 230px; left: 0px;">
                        <div>
                            <div>
                                <div style="width:100%;height:100%;">
                                    <p style="display:inline-block;width:40px;height:40px;text-align:center;line-height:40px;float:left;background:#3d9be9;margin-left:10px;">
                                        2
                                    </p>
                                    <div style="display:inline-block;margin-left: 6px;margin-top:5px;height:160px;float:right;width:300px;margin-right:10px;margin-top:10px;">
                                        <h3 style="margin:5px;margin-left:0px;">军事化训练</h3>
                                        <span style="color:white;">
                                            导游主要分为中文导游和外语导游。其主要工作内容为引导游客感受山水之美解决旅途中可能出现的突发事件，并给予游客食、宿、行等方面的帮助。
                                        </span>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                                <p style="margin:10px;margin-left:0px;margin-right:0px;border-top:1px solid white;"></p>
                                <h4 style="margin:0px;line-height:24px;margin-left:60px;">
                                    <strong style="margin-left:10px;margin-top:5px;display:inline-block;">
                                        <span style="font-size:16px;">
                                            <span style="color:white;">南昌</span>
                                        </span>
                                    </strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;background:#FFD205!important;color:white;">
                    <div style="width: 380px; height: 230px; left: 0px;">
                        <div>
                            <div>
                                <div style="width:100%;height:100%;">
                                    <p style="display:inline-block;width:40px;height:40px;text-align:center;line-height:40px;float:left;background:#F4C906;margin-left:10px;">
                                        3
                                    </p>
                                    <div style="display:inline-block;margin-left: 6px;margin-top:5px;height:160px;float:right;width:300px;margin-right:10px;margin-top:10px;">
                                        <h3 style="margin:5px;margin-left:0px;">军事化训练</h3>
                                        <span style="color:white;">
                                            导游主要分为中文导游和外语导游。其主要工作内容为引导游客感受山水之美解决旅途中可能出现的突发事件，并给予游客食、宿、行等方面的帮助。
                                        </span>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                                <p style="margin:10px;margin-left:0px;margin-right:0px;border-top:1px solid white;"></p>
                                <h4 style="margin:0px;line-height:24px;margin-left:60px;">
                                    <strong style="margin-left:10px;margin-top:5px;display:inline-block;">
                                        <span style="font-size:16px;">
                                            <span style="color:white;">南昌</span>
                                        </span>
                                    </strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="height:936px;margin-top:30px;background-color:white;position:relative;">
        <div class="background" style="margin-top:20px;position:relative;">
            <div style="padding-top:40px;text-align:center;">
                <h1 style="font-weight:normal;font-size:30px;">旅游项目</h1>
                <p style="border-top:1px solid #069ec0!important;"></p>
            </div>
            <div class="card card_no_index_04" style="position:relative;z-index:1;visibility:visible;width:1240px;margin-left:auto;margin-right:auto;margin-top:60px;">
                <div>
                    <div style="display:inline-block;width:180px;height:30px;text-align:center;border:1px solid #069ec0!important;line-height:30px;font-size:16px;cursor:pointer;margin:10px;margin-right:45px;">
                        南&nbsp;昌
                    </div>
                    <div style="display:inline-block;width:180px;height:30px;text-align:center;border:1px solid #069ec0!important;line-height:30px;font-size:16px;cursor:pointer;margin:10px;margin-right:45px;">
                        抚州临川
                    </div>
                    <div style="display:inline-block;width:180px;height:30px;text-align:center;border:1px solid #069ec0!important;line-height:30px;font-size:16px;cursor:pointer;margin:10px;margin-right:45px;">
                        南&nbsp;昌
                    </div>
                    <div style="display:inline-block;width:180px;height:30px;text-align:center;border:1px solid #069ec0!important;line-height:30px;font-size:16px;cursor:pointer;margin:10px;margin-right:45px;">
                        南&nbsp;昌
                    </div>
                    <div style="display:inline-block;width:180px;height:30px;text-align:center;border:1px solid #069ec0!important;line-height:30px;font-size:16px;cursor:pointer;margin:10px;margin-right:35px;">
                        南&nbsp;昌
                    </div>
                </div>
            </div>
            <div class="card card_no_index_03" style="position:relative;z-index:1;visibility:visible;width:1240px;margin-left:auto;margin-right:auto;margin-top:60px;">
                <p style="border-top:1px solid #069ec0;width:1200px;"></p>
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;background-color:white;color:black;">
                    <div style="width: 1200px; height: 210px; left: 0px;">
                        <div>
                            <div style="width:100%;height:100%;">
                                <div style="display:inline-block;width:210px;height:160px;text-align:center;line-height:40px;float:left;background:white;margin-left:10px;">
                                    <img src="http://img.wqdian.com/group4/M00/88/7C/yq0KYFdU1a6AX0w5AAY0pBDhWUk377.jpg" style="height:140px;width:210px;" />
                                </div>
                                <div style="display:inline-block;margin-left: 16px;margin-top:5px;height:160px;float:left;margin-right:10px;margin-top:10px;width:760px;">
                                    <h3 style="margin:5px;margin-left:0px;font-weight:normal;">军事化训练</h3>
                                    <span style="color:black;margin-top:6px;display:inline-block;height:70px;">
                                        导游主要分为中文导游和外语导游。其主要工作内容为引导游客感受山水之美解决旅途中可能出现的突发事件，并给予游客食、宿、行等方面的帮助。
                                    </span>
                                    <p style="display:inline-block;height: 20px;width: 30px;margin:0px;">
                                        <svg class="wqd-svgicon" width="30" height="35" viewBox="-850 -1150 2630 2630" style="display:inline-block;" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="#069ec0" d="M1700,1405.68182 C1700,1423.57955 1696.68561,1446.94602 1690.05682,1475.78125 C1683.42803,1504.61648 1676.4678,1527.32008 1669.17614,1543.89205 C1655.25568,1577.03598 1614.82008,1612.16856 1547.86932,1649.28977 C1485.55871,1683.09659 1423.91098,1700 1362.92614,1700 C1345.02841,1700 1327.62784,1698.83996 1310.72443,1696.51989 C1293.82102,1694.19981 1274.76326,1690.05682 1253.55114,1684.09091 C1232.33902,1678.125 1216.59564,1673.31913 1206.32102,1669.6733 C1196.0464,1666.02746 1177.65152,1659.23295 1151.13636,1649.28977 C1124.62121,1639.34659 1108.38068,1633.38068 1102.41477,1631.39205 C1037.45265,1608.19129 979.450758,1580.68182 928.409091,1548.86364 C843.560606,1496.49621 755.894886,1425.07102 665.411932,1334.58807 C574.928977,1244.10511 503.503788,1156.43939 451.136364,1071.59091 C419.318182,1020.54924 391.808712,962.547348 368.607955,897.585227 C366.619318,891.619318 360.653409,875.378788 350.710227,848.863636 C340.767045,822.348485 333.972538,803.953598 330.326705,793.678977 C326.680871,783.404356 321.875,767.660985 315.909091,746.448864 C309.943182,725.236742 305.800189,706.178977 303.480114,689.275568 C301.160038,672.372159 300,654.971591 300,637.073864 C300,576.089015 316.903409,514.441288 350.710227,452.130682 C387.831439,385.179924 422.964015,344.744318 456.107955,330.823864 C472.679924,323.532197 495.383523,316.57197 524.21875,309.943182 C553.053977,303.314394 576.420455,300 594.318182,300 C603.598485,300 610.558712,300.994318 615.198864,302.982955 C627.130682,306.960227 644.69697,332.149621 667.897727,378.551136 C675.189394,391.145833 685.132576,409.043561 697.727273,432.244318 C710.32197,455.445076 721.922348,476.491477 732.528409,495.383523 C743.13447,514.275568 753.409091,532.007576 763.352273,548.579545 C765.340909,551.231061 771.141098,559.517045 780.752841,573.4375 C790.364583,587.357955 797.49053,599.124053 802.130682,608.735795 C806.770833,618.347538 809.090909,627.793561 809.090909,637.073864 C809.090909,650.331439 799.644886,666.903409 780.752841,686.789773 C761.860795,706.676136 741.311553,724.905303 719.105114,741.477273 C696.898674,758.049242 676.349432,775.61553 657.457386,794.176136 C638.565341,812.736742 629.119318,827.982955 629.119318,839.914773 C629.119318,845.880682 630.776515,853.338068 634.090909,862.286932 C637.405303,871.235795 640.222538,878.030303 642.542614,882.670455 C644.862689,887.310606 649.502841,895.265152 656.463068,906.534091 C663.423295,917.80303 667.234848,924.100379 667.897727,925.426136 C718.276515,1016.24053 775.94697,1094.12879 840.909091,1159.09091 C905.871212,1224.05303 983.75947,1281.72348 1074.57386,1332.10227 C1075.89962,1332.76515 1082.19697,1336.5767 1093.46591,1343.53693 C1104.73485,1350.49716 1112.68939,1355.13731 1117.32955,1357.45739 C1121.9697,1359.77746 1128.7642,1362.5947 1137.71307,1365.90909 C1146.66193,1369.22348 1154.11932,1370.88068 1160.08523,1370.88068 C1172.01705,1370.88068 1187.26326,1361.43466 1205.82386,1342.54261 C1224.38447,1323.65057 1241.95076,1303.10133 1258.52273,1280.89489 C1275.0947,1258.68845 1293.32386,1238.1392 1313.21023,1219.24716 C1333.09659,1200.35511 1349.66856,1190.90909 1362.92614,1190.90909 C1372.20644,1190.90909 1381.65246,1193.22917 1391.2642,1197.86932 C1400.87595,1202.50947 1412.64205,1209.63542 1426.5625,1219.24716 C1440.48295,1228.8589 1448.76894,1234.65909 1451.42045,1236.64773 C1467.99242,1246.59091 1485.72443,1256.86553 1504.61648,1267.47159 C1523.50852,1278.07765 1544.55492,1289.67803 1567.75568,1302.27273 C1590.95644,1314.86742 1608.85417,1324.81061 1621.44886,1332.10227 C1667.85038,1355.30303 1693.03977,1372.86932 1697.01705,1384.80114 C1699.00568,1389.44129 1700,1396.40152 1700,1405.68182 L1700,1405.68182 Z"></path>
                                        </svg>
                                    </p><p style="display:inline-block;height:30px;width:30px;margin-top: -0px;margin-left:10px;font-size:15px;color:#069ec0">18644445555</p>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <p style="border-bottom:1px solid #069ec0"></p>
                        </div>
                    </div>
                </div>
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;background-color:white;color:black;">
                    <div style="width: 1200px; height: 210px; left: 0px;">
                        <div>
                            <div style="width:100%;height:100%;">
                                <div style="display:inline-block;width:210px;height:160px;text-align:center;line-height:40px;float:left;background:white;margin-left:10px;">
                                    <img src="http://img.wqdian.com/group4/M00/88/7C/yq0KYFdU1a6AX0w5AAY0pBDhWUk377.jpg" style="height:140px;width:210px;" />
                                </div>
                                <div style="display:inline-block;margin-left: 16px;margin-top:5px;height:160px;float:left;margin-right:10px;margin-top:10px;width:760px;">
                                    <h3 style="margin:5px;margin-left:0px;font-weight:normal;">军事化训练</h3>
                                    <span style="color:black;margin-top:6px;display:inline-block;height:70px;">
                                        导游主要分为中文导游和外语导游。其主要工作内容为引导游客感受山水之美解决旅途中可能出现的突发事件，并给予游客食、宿、行等方面的帮助。
                                    </span>
                                    <p style="display:inline-block;height: 20px;width: 30px;margin:0px;">
                                        <svg class="wqd-svgicon" width="30" height="35" viewBox="-850 -1150 2630 2630" style="display:inline-block;" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="#069ec0" d="M1700,1405.68182 C1700,1423.57955 1696.68561,1446.94602 1690.05682,1475.78125 C1683.42803,1504.61648 1676.4678,1527.32008 1669.17614,1543.89205 C1655.25568,1577.03598 1614.82008,1612.16856 1547.86932,1649.28977 C1485.55871,1683.09659 1423.91098,1700 1362.92614,1700 C1345.02841,1700 1327.62784,1698.83996 1310.72443,1696.51989 C1293.82102,1694.19981 1274.76326,1690.05682 1253.55114,1684.09091 C1232.33902,1678.125 1216.59564,1673.31913 1206.32102,1669.6733 C1196.0464,1666.02746 1177.65152,1659.23295 1151.13636,1649.28977 C1124.62121,1639.34659 1108.38068,1633.38068 1102.41477,1631.39205 C1037.45265,1608.19129 979.450758,1580.68182 928.409091,1548.86364 C843.560606,1496.49621 755.894886,1425.07102 665.411932,1334.58807 C574.928977,1244.10511 503.503788,1156.43939 451.136364,1071.59091 C419.318182,1020.54924 391.808712,962.547348 368.607955,897.585227 C366.619318,891.619318 360.653409,875.378788 350.710227,848.863636 C340.767045,822.348485 333.972538,803.953598 330.326705,793.678977 C326.680871,783.404356 321.875,767.660985 315.909091,746.448864 C309.943182,725.236742 305.800189,706.178977 303.480114,689.275568 C301.160038,672.372159 300,654.971591 300,637.073864 C300,576.089015 316.903409,514.441288 350.710227,452.130682 C387.831439,385.179924 422.964015,344.744318 456.107955,330.823864 C472.679924,323.532197 495.383523,316.57197 524.21875,309.943182 C553.053977,303.314394 576.420455,300 594.318182,300 C603.598485,300 610.558712,300.994318 615.198864,302.982955 C627.130682,306.960227 644.69697,332.149621 667.897727,378.551136 C675.189394,391.145833 685.132576,409.043561 697.727273,432.244318 C710.32197,455.445076 721.922348,476.491477 732.528409,495.383523 C743.13447,514.275568 753.409091,532.007576 763.352273,548.579545 C765.340909,551.231061 771.141098,559.517045 780.752841,573.4375 C790.364583,587.357955 797.49053,599.124053 802.130682,608.735795 C806.770833,618.347538 809.090909,627.793561 809.090909,637.073864 C809.090909,650.331439 799.644886,666.903409 780.752841,686.789773 C761.860795,706.676136 741.311553,724.905303 719.105114,741.477273 C696.898674,758.049242 676.349432,775.61553 657.457386,794.176136 C638.565341,812.736742 629.119318,827.982955 629.119318,839.914773 C629.119318,845.880682 630.776515,853.338068 634.090909,862.286932 C637.405303,871.235795 640.222538,878.030303 642.542614,882.670455 C644.862689,887.310606 649.502841,895.265152 656.463068,906.534091 C663.423295,917.80303 667.234848,924.100379 667.897727,925.426136 C718.276515,1016.24053 775.94697,1094.12879 840.909091,1159.09091 C905.871212,1224.05303 983.75947,1281.72348 1074.57386,1332.10227 C1075.89962,1332.76515 1082.19697,1336.5767 1093.46591,1343.53693 C1104.73485,1350.49716 1112.68939,1355.13731 1117.32955,1357.45739 C1121.9697,1359.77746 1128.7642,1362.5947 1137.71307,1365.90909 C1146.66193,1369.22348 1154.11932,1370.88068 1160.08523,1370.88068 C1172.01705,1370.88068 1187.26326,1361.43466 1205.82386,1342.54261 C1224.38447,1323.65057 1241.95076,1303.10133 1258.52273,1280.89489 C1275.0947,1258.68845 1293.32386,1238.1392 1313.21023,1219.24716 C1333.09659,1200.35511 1349.66856,1190.90909 1362.92614,1190.90909 C1372.20644,1190.90909 1381.65246,1193.22917 1391.2642,1197.86932 C1400.87595,1202.50947 1412.64205,1209.63542 1426.5625,1219.24716 C1440.48295,1228.8589 1448.76894,1234.65909 1451.42045,1236.64773 C1467.99242,1246.59091 1485.72443,1256.86553 1504.61648,1267.47159 C1523.50852,1278.07765 1544.55492,1289.67803 1567.75568,1302.27273 C1590.95644,1314.86742 1608.85417,1324.81061 1621.44886,1332.10227 C1667.85038,1355.30303 1693.03977,1372.86932 1697.01705,1384.80114 C1699.00568,1389.44129 1700,1396.40152 1700,1405.68182 L1700,1405.68182 Z"></path>
                                        </svg>
                                    </p><p style="display:inline-block;height:30px;width:30px;margin-top: -0px;margin-left:10px;font-size:15px;color:#069ec0">18644445555</p>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <p style="border-bottom:1px solid #069ec0"></p>
                        </div>
                    </div>
                </div>
                <div class="card-item" style="margin-right:20px;display:inline-block;cursor:pointer;background-color:white;color:black;">
                    <div style="width: 1200px; height: 210px; left: 0px;">
                        <div>
                            <div style="width:100%;height:100%;">
                                <div style="display:inline-block;width:210px;height:160px;text-align:center;line-height:40px;float:left;background:white;margin-left:10px;">
                                    <img src="http://img.wqdian.com/group4/M00/88/7C/yq0KYFdU1a6AX0w5AAY0pBDhWUk377.jpg" style="height:140px;width:210px;" />
                                </div>
                                <div style="display:inline-block;margin-left: 16px;margin-top:5px;height:160px;float:left;margin-right:10px;margin-top:10px;width:760px;">
                                    <h3 style="margin:5px;margin-left:0px;font-weight:normal;">军事化训练</h3>
                                    <span style="color:black;margin-top:6px;display:inline-block;height:70px;">
                                        导游主要分为中文导游和外语导游。其主要工作内容为引导游客感受山水之美解决旅途中可能出现的突发事件，并给予游客食、宿、行等方面的帮助。
                                    </span>
                                    <p style="display:inline-block;height: 20px;width: 30px;margin:0px;">
                                        <svg class="wqd-svgicon" width="30" height="35" viewBox="-850 -1150 2630 2630" style="display:inline-block;" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="#069ec0" d="M1700,1405.68182 C1700,1423.57955 1696.68561,1446.94602 1690.05682,1475.78125 C1683.42803,1504.61648 1676.4678,1527.32008 1669.17614,1543.89205 C1655.25568,1577.03598 1614.82008,1612.16856 1547.86932,1649.28977 C1485.55871,1683.09659 1423.91098,1700 1362.92614,1700 C1345.02841,1700 1327.62784,1698.83996 1310.72443,1696.51989 C1293.82102,1694.19981 1274.76326,1690.05682 1253.55114,1684.09091 C1232.33902,1678.125 1216.59564,1673.31913 1206.32102,1669.6733 C1196.0464,1666.02746 1177.65152,1659.23295 1151.13636,1649.28977 C1124.62121,1639.34659 1108.38068,1633.38068 1102.41477,1631.39205 C1037.45265,1608.19129 979.450758,1580.68182 928.409091,1548.86364 C843.560606,1496.49621 755.894886,1425.07102 665.411932,1334.58807 C574.928977,1244.10511 503.503788,1156.43939 451.136364,1071.59091 C419.318182,1020.54924 391.808712,962.547348 368.607955,897.585227 C366.619318,891.619318 360.653409,875.378788 350.710227,848.863636 C340.767045,822.348485 333.972538,803.953598 330.326705,793.678977 C326.680871,783.404356 321.875,767.660985 315.909091,746.448864 C309.943182,725.236742 305.800189,706.178977 303.480114,689.275568 C301.160038,672.372159 300,654.971591 300,637.073864 C300,576.089015 316.903409,514.441288 350.710227,452.130682 C387.831439,385.179924 422.964015,344.744318 456.107955,330.823864 C472.679924,323.532197 495.383523,316.57197 524.21875,309.943182 C553.053977,303.314394 576.420455,300 594.318182,300 C603.598485,300 610.558712,300.994318 615.198864,302.982955 C627.130682,306.960227 644.69697,332.149621 667.897727,378.551136 C675.189394,391.145833 685.132576,409.043561 697.727273,432.244318 C710.32197,455.445076 721.922348,476.491477 732.528409,495.383523 C743.13447,514.275568 753.409091,532.007576 763.352273,548.579545 C765.340909,551.231061 771.141098,559.517045 780.752841,573.4375 C790.364583,587.357955 797.49053,599.124053 802.130682,608.735795 C806.770833,618.347538 809.090909,627.793561 809.090909,637.073864 C809.090909,650.331439 799.644886,666.903409 780.752841,686.789773 C761.860795,706.676136 741.311553,724.905303 719.105114,741.477273 C696.898674,758.049242 676.349432,775.61553 657.457386,794.176136 C638.565341,812.736742 629.119318,827.982955 629.119318,839.914773 C629.119318,845.880682 630.776515,853.338068 634.090909,862.286932 C637.405303,871.235795 640.222538,878.030303 642.542614,882.670455 C644.862689,887.310606 649.502841,895.265152 656.463068,906.534091 C663.423295,917.80303 667.234848,924.100379 667.897727,925.426136 C718.276515,1016.24053 775.94697,1094.12879 840.909091,1159.09091 C905.871212,1224.05303 983.75947,1281.72348 1074.57386,1332.10227 C1075.89962,1332.76515 1082.19697,1336.5767 1093.46591,1343.53693 C1104.73485,1350.49716 1112.68939,1355.13731 1117.32955,1357.45739 C1121.9697,1359.77746 1128.7642,1362.5947 1137.71307,1365.90909 C1146.66193,1369.22348 1154.11932,1370.88068 1160.08523,1370.88068 C1172.01705,1370.88068 1187.26326,1361.43466 1205.82386,1342.54261 C1224.38447,1323.65057 1241.95076,1303.10133 1258.52273,1280.89489 C1275.0947,1258.68845 1293.32386,1238.1392 1313.21023,1219.24716 C1333.09659,1200.35511 1349.66856,1190.90909 1362.92614,1190.90909 C1372.20644,1190.90909 1381.65246,1193.22917 1391.2642,1197.86932 C1400.87595,1202.50947 1412.64205,1209.63542 1426.5625,1219.24716 C1440.48295,1228.8589 1448.76894,1234.65909 1451.42045,1236.64773 C1467.99242,1246.59091 1485.72443,1256.86553 1504.61648,1267.47159 C1523.50852,1278.07765 1544.55492,1289.67803 1567.75568,1302.27273 C1590.95644,1314.86742 1608.85417,1324.81061 1621.44886,1332.10227 C1667.85038,1355.30303 1693.03977,1372.86932 1697.01705,1384.80114 C1699.00568,1389.44129 1700,1396.40152 1700,1405.68182 L1700,1405.68182 Z"></path>
                                        </svg>
                                    </p>
                                    <p style="display:inline-block;height:30px;width:30px;margin-top: -0px;margin-left:10px;font-size:15px;color:#069ec0">18644445555</p>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <p style="border-bottom:1px solid #069ec0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="height:606px;margin-top:30px;background-color:#fafafa;position:relative;">
        <div class="background" style="margin-top:20px;position:relative;">
            <div style="padding-top:40px;text-align:center;">
                <h1 style="font-weight:normal;font-size:30px;color:black;">联系我们</h1>
                <p style="color:#808080;">8万余种旅游产品供消费者选择，已成功服务累计超过400万人次出游</p>
            </div>
            <div class="card-item" style="margin-right:20px;cursor:pointer;color:white;margin-left:auto;margin-right:auto;width:400px;">
                <div style="width: 380px; height: 230px; left: 0px;margin-top:20px;">
                    <input type="text" style="height:40px;line-height:24px;width:420px;font-size:14px;border-radius:6px;border:1px solid #d1d1d1;background-color:transparent;text-indent:10px;" placeholder="姓名" />
                    <input type="text" style="margin-top:10px;height:40px;line-height:24px;width:420px;font-size:14px;border-radius:6px;border:1px solid #d1d1d1;background-color:transparent;text-indent:10px;" placeholder="联系电话" />

                    <textarea type="text" style="margin-top:10px;height:140px;line-height:24px;width:420px;font-size:14px;border-radius:6px;border:1px solid #d1d1d1;background-color:transparent;text-indent:10px;" placeholder="备注"></textarea>

                    <input type="button" style="margin-top:10px;height:40px;line-height:24px;width:210px;font-size:14px;border-radius:6px;border:1px solid #d1d1d1;background-color:transparent;text-indent:10px;margin-left:90px;margin-right:auto;cursor:pointer;" value="提&nbsp;&nbsp;&nbsp;&nbsp;交" />
                </div>
            </div>
        </div>
    </section>
    <section style="margin-top:20px;background-color:white;position:relative;">
        <div class="background" style="margin-top:20px;position:relative;">
            <div style="padding-top:40px;text-align:center;color:black;">
                <h1 style="font-weight:600;font-size:30px;">华学旅游</h1>
                <p style="margin:5px;">产品全面，价格透明，全年365天24小时400电话预订</p>
                <p style="margin:5px;">南昌唯一一家横跨江西全景旅游企业，支持各种旅游行为</p>
                <p style="margin:0px;margin-top:40px;color:#808080;">联系邮箱：476160173@qq.com</p>
                <p style="margin:0px;margin-top:5px;color:#808080;">微信公众号：476160173@qq.com</p>
                <p style="margin:0px;margin-top:5px;color:#808080;">技术支持：476160173@qq.com</p>
                <p style="margin-top:30px;border-bottom:0.5px solid #eeeeee;width:960px;margin-left:auto;margin-right:auto;"></p>
                <ul style="list-style:none;margin:0px;padding:0px;">
                    
                    <li style="width: 28.1962px; height: 28.1962px; margin: 0px 5.35376px 0px 0px;display:inline-block;cursor:pointer;" class="btn-share" data-type="weixin">
                        <svg viewBox="0 0 1800 1800" xmlns="http://www.w3.org/2000/svg"><path fill="#aaa" d="M896,0C401.2,0,0,401.2,0,896s401.2,896,896,896s896-401.2,896-896S1390.8,0,896,0z M896,1743.3  C428.1,1743.3,48.7,1364,48.7,896S428.1,48.7,896,48.7S1743.3,428,1743.3,896S1363.9,1743.3,896,1743.3z M1072.3,735.8  c11.4,0,22.7,0.8,34,2.1c-30.5-142-182.4-247.7-355.8-247.7c-193.8,0-352.6,132.1-352.6,299.9c0,96.9,52.8,176.4,141.1,238.1  l-35.3,106.1l123.2-61.8c44.1,8.8,79.5,17.7,123.5,17.7c11.1,0,22.1-0.6,32.9-1.4c-7-23.6-10.9-48.2-10.9-73.9  C772.5,860.8,904.8,735.8,1072.3,735.8z M882.7,640.2c26.5,0,44.1,17.4,44.1,44c0,26.4-17.6,44.1-44.1,44.1c-26.4,0-53-17.7-53-44.1  C829.8,657.7,856.3,640.2,882.7,640.2z M636,728.3c-26.4,0-53.1-17.7-53.1-44.1c0-26.5,26.7-44,53.1-44c26.4,0,44,17.4,44,44  C680,710.6,662.4,728.3,636,728.3z M1094.6,754.7c-167.8,0-299.9,114.9-299.9,255.9c0,141.2,132.2,255.8,299.9,255.8  c35.1,0,70.5-8.9,105.8-17.6l96.8,53l-26.5-88.1c70.8-53,123.4-123.5,123.4-203C1394.1,869.6,1253.1,754.7,1094.6,754.7z   M997.4,966.5c-17.6,0-35.3-17.4-35.3-35.2c0-17.6,17.7-35.3,35.3-35.3c26.7,0,44.1,17.6,44.1,35.3S1024.1,966.5,997.4,966.5z   M1191.4,966.5c-17.5,0-35.1-17.4-35.1-35.2c0-17.6,17.6-35.3,35.1-35.3c26.4,0,44.1,17.6,44.1,35.3S1217.8,966.5,1191.4,966.5z"></path></svg>
                    </li>
                    
                </ul>
            </div>
            <p style="margin-bottom:40px;"></p>
        </div>
    </section>
</body>
</html>
